<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>CSS</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>CSS3</h1>
        </div>
        <div class="ui secondary pointing menu stackable">
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment raised">

            <h2>useful links</h2>

            <div class="ui equal width grid">
                <div class="ui column">
                    <h3>general</h3>

                    <div class="ui segment compact">
                        <h4>MDN CSS</h4>
                        <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN</a>
                    </div>

                    <div class="ui segment compact">
                        <h4>w3schools CSS</h4>
                        <a href="https://www.w3schools.com/css/default.asp">w3schools</a>
                    </div>

                    <div class="ui segment compact">
                        <h4>CSS tricks</h4>
                        <a href="https://css-tricks.com/">tricks</a>
                    </div>

                    <div class="ui segment compact">
                        <h4>CSS beautifier</h4>
                        <a href="https://www.10bestdesign.com/dirtymarkup/css/">beautifier</a>
                    </div>

                </div>

                <div class="ui column">

                    <h3>effects</h3>

                    <div class="ui segment compact">
                        <h4>Free Hover Effects</h4>
                        <a href="http://ianlunn.github.io/Hover/">hover</a>
                    </div>

                    <div class="ui segment compact">
                        <h4>CSS transitions and transforms</h4>
                        <a href="https://robots.thoughtbot.com/transitions-and-transforms">transitions</a>
                    </div>

                    <div class="ui segment compact">
                        <h4>Box shadow generator</h4>
                        <a href="https://www.cssmatic.com/box-shadow">box shadow gen</a>
                    </div>

                    <div class="ui segment compact">
                        <h4>Glow Effects</h4>
                        <a href="https://codersblock.com/blog/creating-glow-effects-with-css/">glow</a>
                    </div>

                </div>

            </div>

        </div>
    
    </div> 

 
    </div>
</body>
</html>