<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>CSS</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>CSS3</h1>
        </div>
        <div class="ui secondary pointing menu stackable">
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
       

        <div class="ui grid container stackable">

            
            <div class="four wide column">
                <div class="ui segment"><h3>general</h3></div>

                    <h4>MDN CSS</h4>
                    <a href="https://developer.mozilla.org/en-US/docs/Web/CSS">MDN</a>
                
                <div class="ui section divider"></div>

                    <h4>w3schools CSS</h4>
                    <a href="https://www.w3schools.com/css/default.asp">w3schools</a>
            
                <div class="ui section divider"></div>

                    <h4>CSS tricks</h4>
                    <a href="https://css-tricks.com/">tricks</a>

                <div class="ui section divider"></div>
                
                    <h4>layout with flexbox</h4>
                    <a href="https://css-tricks.com/snippets/css/a-guide-to-flexbox/">flexbox</a>
                
                <div class="ui section divider"></div>
               
                    <h4>CSS beautifier</h4>
                    <a href="https://www.10bestdesign.com/dirtymarkup/css/">beautifier</a>
                
                <div class="ui section divider"></div>

            </div>

            <div class="four wide column">

                <div class="ui segment"><h3>effects</h3></div>

                    <h4>Free Hover Effects</h4>
                    <a href="http://ianlunn.github.io/Hover/">hover</a>
               
                <div class="ui section divider"></div>

                    <h4>CSS transitions and transforms</h4>
                    <a href="https://robots.thoughtbot.com/transitions-and-transforms">transitions</a>

                <div class="ui section divider"></div>

                    <h4>Box shadow generator</h4>
                    <a href="https://www.cssmatic.com/box-shadow">box shadow gen</a>

                <div class="ui section divider"></div>

                    <h4>Glow Effects</h4>
                    <a href="https://codersblock.com/blog/creating-glow-effects-with-css/">glow</a>

                <div class="ui section divider"></div>

            </div>
        
            <div class="four wide column">

                <div class="ui segment"><h3>icons</h3></div>
                
                    <h4>Font Awesome Icons</h4>
                    <a href="https://fontawesome.com/icons?d=gallery">font awesome</a>

                <div class="ui section divider"></div>

                    <h4>Material Design Icons</h4>
                    <a href="https://material.io/icons/">material icons</a>

                <div class="ui section divider"></div>

                    <h4>Loader Icon Generator</h4>
                    <a href="http://loading.io/">loader icons</a>

                <div class="ui section divider"></div>

                    <h4>Fantasy RPG Icon Kit</h4>
                    <a href="http://nagoshiashumari.github.io/Rpg-Awesome/">rpg awesome</a>

                <div class="ui section divider"></div>

            </div>

            <div class="four wide column">
                <div class="ui segment"><h3>fonts</h3></div>
                
                <h4>google fonts</h4>
                <a href="https://fonts.google.com/">google fonts</a>

                <div class="ui section divider"></div>
            
            </div>

            <div class="four wide column">
                <div class="ui segment"><h3>svgs</h3></div>
                
                <h4>svg pattern generators</h4>
                <a href="https://www.sitepoint.com/6-incredible-svg-pattern-generators/">svg patterns</a>

                <div class="ui section divider"></div>

                <h4>hero svg patterns</h4>
                <a href="http://www.heropatterns.com/">hero patterns</a>

                <div class="ui section divider"></div>
                
            </div>

            <div class="four wide column">
                <div class="ui segment"><h3>gradients</h3></div>
                
                <h4>Colorful Background gradients</h4>
                <a href="http://www.webcore-it.com/colorful-background/#/">colorful gradients</a>

                <div class="ui section divider"></div>

                <h4>Ultimate CSS gradients</h4>
                <a href="http://www.colorzilla.com/gradient-editor/">ultimate gradients</a>

                <div class="ui section divider"></div>

                <h4>CSS gradient animator</h4>
                <a href="https://www.gradient-animator.com/">CSS gradient animator</a>
                    
            </div>
            

        </div>
    
    </div> 

 
    </div>
</body>
</html>