<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>editors</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>code editors</h1>
        </div>

        <div class="ui secondary pointing menu stackable">
    
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment raised" >
            <h2>vs code</h2>
            <div class="ui segment small">
                <h4>mac shortcuts</h4>
                <p>thanks abdullah</p>
                <a href="https://code.visualstudio.com/shortcuts/keyboard-shortcuts-macos.pdf">shortcuts</a>
            </div>
        </div>
    </div> 

 
    </div>
</body>
</html>