<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>git</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>git/github</h1>
        </div>
        <div class="ui secondary pointing menu stackable">
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment raised">
            <h2>pdfs</h2>
            <div class="ui segment compact">
              
                <h4>basic git commands</h4>
                <p>this pdf has helpful descriptions for each command</p>
                <a href="../pdfs/github/basic_git_commands.pdf" >basic commands</a>
            
            </div>

            <div class="ui segment compact">
              
                <h4>cheat sheet</h4>
                <p>provided by github</p>
                <a href="../pdfs/github/git_cheat_sheet.pdf" >guide</a>
                    
            </div>

            <div class="ui segment compact">
              
                <h4>guide</h4>
                <p>this is a simple guide to git</p>
                <a href="../pdfs/github/git_guide.pdf" >guide</a>
                
            </div>
        </div>
    </div> 

 
    </div>
</body>
</html>