<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>Javascript Info</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>Javascript</h1>
        </div>

        <div class="ui secondary pointing menu stackable">
    
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment raised " >
            <h2>useful links</h2>
            <div class="ui segment compact">
                <h4>Interactive Javascript Cheatsheet</h4>
                <a href="http://htmlcheatsheet.com/js/">interactive cheatsheet</a>
            </div>
            <div class="ui segment compact">
                <h4>MDN Javascript</h4>
                <a href="https://developer.mozilla.org/en-US/docs/Web/JavaScript/Guide">MDN</a>
            </div>

            <div class="ui segment compact">
                <h4>W3schools Javascript</h4>
                <a href="https://www.w3schools.com/jS/default.asp">W3Schools</a>
            </div>

            <div class="ui segment compact">
                <h4>Jquery interactive cheatsheet</h4>
                <a href="http://htmlcheatsheet.com/jquery/">jquery</a>
            </div>
 
            <div class="ui segment compact">
                <h4>ES6 and Beyond</h4>
                <a href="https://www.toptal.com/javascript/javascript-es6-cheat-sheet">es6/es7 cheatsheet</a>
            </div>

            <div class="ui segment compact">
                <h4>React.js</h4>
                <a href="https://devhints.io/react">React</a>
            </div>

            
    
        </div>
    </div> 

 
    </div>
</body>
</html>