<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>Document</title>
</head>
<body>
    <p>main page</p>

    <div class="ui container">
        <div class="ui secondary pointing menu">

            <a href="/terminal_info" class="active item">
            terminal
            </a>
        
            <div class="right menu">
            <a class="ui item">
                
            </a>
            </div>
        </div>
        <div class="ui segment">
            <p>welcome, use the menu above to navigate the various coding resources I have gathered</p>
        </div>
    </div>  
</body>
</html>