<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>Home</title>
</head>
<body>

    <div class="ui container">

        <div class="ui segment">
            <img class="ui small image" src="/images/digital_crafts.png" />
        </div>

        <div class="ui container">
            <div class="ui secondary pointing menu">

                <a href="/terminal_info" class="item">
                    terminal
                </a>

                <a href="/github_info" class="item">
                    github/git
                </a>

                <a href="/python_info" class="item">
                    python
                </a>

                <a href="/javascript_info" class="item">
                    javascript
                </a>

                <a href="/javascript_info" class="item">
                    html
                </a>

                <a href="/javascript_info" class="item">
                    css
                </a>
            
                <div class="right menu">
                <a href="/" class="ui active item">
                    home
                </a>
                </div>
            </div>
            <div class="ui segment">
                <p>welcome, use the menu above to navigate the various coding resources I have gathered</p>
            </div>
        </div> 
    </div> 
</body>
</html>