<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>Document</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>posts</h1>
        </div>
        <div class="ui secondary pointing menu stackable">
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment">
            <div class="ui container text">

                <h3>A small polished app is better than a complex mess</h3>
              
                <p>
                    I would work on things that i could see myself working on for the next 2 years. Making the personal projects I create matter to me is important. If my projects don't matter to me, it will show and they won't matter to others. To achieve creating work that i am excited about, it is essential to not let expectations and perfectionism get in the way.
                </p>

                <p>
                    I would think of the project in versions.
                    The first version I create is the prototype
                    The next version is the minimum viable product or “mvp”, then “alpha”, “beta”, and so on.
                </p>
                
                <p>
                    What constitutes a “version” does each new change make the app a new version?
                    No, I think of each version as its own complete app. I’ll know that the version is complete when it functions. That way when someone gives me feedback I can save it for a later version.
                    
                    Why bother doing things this way? Well as I am just starting out it is best that I present projects that I am proud of and am not stressing over. This will make me more confident and excited about presenting and talking about my work.
                
                </p>
                <p>
                    How do I keep track of versions? Being proficient with GitHub or something similar is great, this will be the optimal way to approach it. If I were beginning to learn GitHub and weren’t yet proficient with it, I would use Google drive or some kind of storage system to store the versions of my app.
                    
                    Make each version “good enough”. By good enough I mean I have to lower my expectations of the scope of the project and always keep in mind that a new feature can be introduced in later versions. I would do my best to first of all make the simple app work. Then work on making the version presentable. 
                </p>
                
            </div>
        </div>
    </div> 

 
    </div>
</body>
</html>