<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>Document</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>python</h1>
        </div>

        <div class="ui secondary pointing menu stackable">
    
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment raised" >
            <h2>useful links</h2>
            <div class="ui segment small">
                <h4>python tutor/python program visualizer</h4>
                <p>thanks thomas</p>
                <a href="http://www.pythontutor.com/visualize.html#mode=edit">python tutor</a>
            </div>
            <div class="ui segment small">
                <h4>python functions</h4>
                <p>thanks hutson</p>
                <a href="https://docs.python.org/3/library/functions.html">functions</a>
            </div>
            <div class="ui segment small">
                <a href="https://www.toptal.com/python/top-10-mistakes-that-python-programmers-make">common mistakes python programmers make</a>
            </div>
        </div>
        <div class="ui segment raised">
                <h2>pdfs</h2>
                <div class="ui segment small">
                    <h4>lists</h4>
                    <a href="../pdfs/python/python_lists.pdf" >lists</a>
                </div>
                <div class="ui segment small">
                    <h4>if statements and while loops</h4>
                    <a href="../pdfs/python/python_if_while.pdf" >if while</a>
                </div>
                <div class="ui segment small">
                    <h4>dictionaries</h4>
                    <a href="../pdfs/python/python_dictionaries.pdf" >dictionaries</a>
                </div>
                <div class="ui segment small">
                    <h4>classes</h4>
                    <a href="../pdfs/python/python_classes.pdf" >commands</a>
                </div>
            </div>
        </div>
    </div> 

 
    </div>
</body>
</html>