<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>Document</title>
</head>
<body>

    <div class="ui container">
        <div class="ui secondary pointing menu stackable">

            <a href="/terminal_info" class="active item">
                terminal
            </a>
        
            <div class="right menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment raised">
            <h3>cheat sheets</h3>
            <div class="ui segment small">
                <div>
                    <h4>Linux Bash Shell Cheat Sheet</h4>
                    <p>mac os is a UNIX based os and the terminal commands are essentialy the same as Linux</p>
                    <a href="../pdfs/terminal/bash_cheat_sheet.pdf" >terminal cheat sheet</a>
                </div>
            </div>
        </div>
    </div> 

 
    </div>
</body>
</html>