<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
    <title>Document</title>
</head>
<body>
    <div>
        <p>this is for linux, but since macos is based on UNIX like linux, the commands are essentially the same</p>
        <a href="../pdfs/bash_cheat_sheet.pdf" >terminal cheat sheet</a>
    </div>
</body>
</html>