<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="../css/semanticUI.min.css">
    <title>Document</title>
</head>
<body>

    <div class="ui container">
        <div class="ui segment">
            <h1>terminal</h1>
        </div>
        <div class="ui secondary pointing menu stackable">
    
            <div class="left menu">
            <a href="/" class="ui item">
                home
            </a>
            </div>
        </div>
        <div class="ui segment raised">

                <div class="ui segment small">
                    <h4>basic commands</h4>
                    <a href="../pdfs/terminal/basic_commands.pdf" >basic</a>
                </div>
                <div class="ui segment small">
                    <h4>Linux Bash Shell Cheat Sheet</h4>
                    <p>mac os is a UNIX based os and the terminal commands are essentialy the same as Linux</p>
                    <a href="../pdfs/terminal/bash_cheat_sheet.pdf" >terminal cheat sheet</a>
                </div>
                <div class="ui segment small">
                    <h4>beginners guide to command line</h4>
                    <a href="../pdfs/terminal/command_line_beginner.pdf" >beginners guide</a>
                </div>
                <div class="ui segment small">
                    <h4>commands list</h4>
                    <a href="../pdfs/terminal/command_list.pdf" >commands</a>
                </div>
                <div class="ui segment small">
                    <h4>command line book</h4>
                    <a href="../pdfs/terminal/command_line_book.pdf" >book</a>
                </div>
            </div>
        </div>
    </div> 

 
    </div>
</body>
</html>